.aud-c-play-icon {
  display: block;

  &__interior {
    pointer-events: none;
  }

  &--hover &__circle {
    fill: var(--aud-btn-main-hover)
  }
  &__circle,
  &--pressed &__circle {
    fill: var(--aud-btn-main);
  }

  &__height {
    fill: var(--aud-btn-sides);
  }

  &__triangle {
    fill: var(--aud-btn-type);
  }

  &__line {
    stroke: var(--aud-btn-type);
    stroke-linecap: round;
  }
}