.dag-o-unbutton {
  border: 0;
  padding: 0;
  background: none;
}

.dag-o-btn {
  cursor: pointer;
  border: 0;
  text-decoration: none;

  &--v-main {
    padding-inline: $dag-gap-m;
    padding-block: $dag-gap-s;
    font-size: $dag-font-size-l;
  }
  &--v-skip {
    padding-inline: $dag-gap-s;
    padding-block: $dag-gap-xs;
    font-size: $dag-font-size-m;
  }

  &--t-main {
    border-radius: var(--dag-border-radius-m);
    background-color: var(--dag-btn-main);
    color: var(--dag-btn-type);
  }
  &--t-main:hover,
  &--t-main.dag-is-hover {
    background-color: var(--dag-btn-main-hover);
  }
  &--t-main:active,
  &--t-main.dag-is-active {
    background-color: var(--dag-btn-main-active);
  }
  &--t-main:disabled,
  &--t-main.dag-is-disabled {
    cursor: $dag-cursor-disabled;
    background-color: var(--dag-btn-main-disabled);
  }
}

.dag-o-clear-btn {
  padding-inline: $dag-gap-l;
  padding-block: $dag-gap-m;
  font-size: $dag-font-size-m;

  &--t-main {
    color: var(--dag-clear-btn);
  }
  &--t-main:hover,
  &--t-main.dag-is-hover {
    color: var(--dag-clear-btn-hover);
  }
  &--t-main:active,
  &--t-main.dag-is-active {
    color: var(--dag-clear-btn-active);
  }
  &--t-main:disabled,
  &--t-main.dag-is-disabled {
    cursor: $dag-cursor-disabled;
    color: var(--dag-clear-btn-disabled);
  }
}

.dag-o-skip-btn {
  position: absolute;
  inset-inline-start:-999999px;

  &:focus {
    inset-inline-start: $dag-gap-m;
    inset-block-start: $dag-gap-m;
  }
}

.dag-o-bg-btn-set {
  position: relative;

  &__btn {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    inline-size: 100%;
  }

  &__sibling {
    z-index: 2;
    position: relative;
  }
}
