.aud-o-unbutton {
  border: 0;
  padding: 0;
  background: none;
}

.aud-o-bg-btn-set {
  position: relative;

  &__btn {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &__sibling {
    z-index: 2;
    position: relative;
  }
}

.aud-o-btn {
  padding-inline: $aud-gap-l;
  padding-block: $aud-gap-m;
  font-size: $aud-font-size-m;

  &--t-main {
    border-radius: var(--aud-border-radius-m);
    background-color: var(--aud-btn);
    color: var(--aud-btn-type);
  }
  &--t-main:hover,
  &--t-main.aud-is-hover {
    background-color: var(--aud-btn-hover);
  }
  &--t-main:active,
  &--t-main.aud-is-active {
    background-color: var(--aud-btn-active);
  }
  &--t-main:disabled,
  &--t-main.aud-is-disabled {
    cursor: $aud-cursor-disabled;
    background-color: var(--aud-btn-disabled);
  }
}

.aud-o-clear-btn {
  padding-inline: $aud-gap-l;
  padding-block: $aud-gap-m;
  font-size: $aud-font-size-m;

  &--t-main {
    color: var(--aud-clear-btn);
  }
  &--t-main:hover,
  &--t-main.aud-is-hover {
    color: var(--aud-clear-btn-hover);
  }
  &--t-main:active,
  &--t-main.aud-is-active {
    color: var(--aud-clear-btn-active);
  }
  &--t-main:disabled,
  &--t-main.aud-is-disabled {
    cursor: $aud-cursor-disabled;
    color: var(--aud-clear-btn-disabled);
  }
}
