.dag-o-semantic-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dag-o-list {
  
  &__item {
    padding-block: $dag-gap-m;
    padding-inline: $dag-gap-l;

    border-block-start: $dag-border-s solid var(--dag-border-light);
    background-color: var(--dag-bg);
    color: var(--dag-type);
  }
  &__item.dag-is-hovered {
    background-color: var(--dag-bg-hover);
    color: var(--dag-brand-main-2);
  }
  &__item.dag-is-active {
    background-color: var(--dag-bg);
    color: var(--dag-brand-main-0);
  }
  &__item:last-child {
    border-block-end: $dag-border-s solid var(--dag-border-light);
  }

  &:after {
    content: "";
    display: block;
    margin-inline: auto;
    margin-block: $dag-gap-m;

    inline-size: $dag-list-stop-w;
    block-size: $dag-list-stop-w;

    border-radius: 50%;
    background-color: var(--dag-list-stop);
  }

}
