.dag-o-h-xl {
  margin-block-end: $dag-gap-xs;
  font-size: $dag-font-size-xl;
  color: var(--dag-type-h-xl);
}

.dag-o-h-l {
  margin-block-end: $dag-gap-xs;
  font-size: $dag-font-size-l;
  color: var(--dag-type-h-l);
}

.dag-o-h-m {
  margin-block-end: $dag-gap-xs;
  font-size: $dag-font-size-m;
  color: var(--dag-type-h-m);
}

.dag-o-p {
  margin-block-end: $dag-gap-xs;
  font-size: $dag-font-size-m;
  color: var(--dag-type);

  &--s {
    font-size: $dag-font-size-s;
  }
  &--t-subtle {
    color: var(--dag-type-subtle);
  }
}

.dag-o-key-type {
  color: var(--dag-brand-main-1);
}
