.dag-c-downloads-list {
  margin-inline: -$dag-block-padding-inline;
  margin-block-end: -$dag-block-padding-block;

  &__set-files-toggle {
    background: none;
    border: 0;
    padding: 0;
  }
}
