.aud-c-dl-spinner {
  border-radius: 50%;

  &__track {
    stroke: var(--aud-dl-spinner-track);
    fill: none;
  }
  &__progress {
    stroke: var(--aud-dl-spinner-progress);
    stroke-linecap: round;
    fill: none;
  }
}
