.aud-c-downloads-list {
  margin-inline: -$aud-block-padding-inline;
  margin-block-end: -$aud-block-padding-block;

  &__set-files-toggle {
    background: none;
    border: 0;
    padding: 0;
  }
  &__set-spinner {
    width: $aud-dl-spinner-w;
  }
}
