.dag-u-accessible-hidden {
  position: absolute;
  left: -999999px;
  height: 0;
  width: 0;
  overflow: hidden;
}

.dag-u-d-c {
  display: contents !important;
}
.dag-u-d-b {
  display: block !important;
}
.dag-u-d-ib {
  display: inline-block !important;
}

.dag-u-d-x {
  display: flex !important;
}
.dag-u-xd-r {
  flex-direction: row !important;
}
.dag-u-xg-1 {
  flex-grow: 1 !important;
}
.dag-u-as-e {
  align-self: end !important;
}

.dag-u-va-m {
  vertical-align: middle !important;
}

.dag-u-ml-a {
  margin-left: auto !important;
}

.dag-u-ta-c {
  text-align: center !important;
}
