* {
  box-sizing: border-box;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li {
  all: initial;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--aud-type-font);
  color: var(--aud-type);
}

i {
  font-style: italic;
}

img,
video,
svg {
  max-width: 100%;
}
