$aud-gap-xl: 25px;
$aud-gap-l: 20px;
$aud-gap-m: 15px;
$aud-gap-s: 10px;

$aud-font-size-xl: 24px;
$aud-font-size-l: 18px;
$aud-font-size-m: 12px;
$aud-font-size-s: 8px;

$aud-cursor-default: default;
$aud-curosr-clickable: pointer;
$aud-cursor-disabled: not-allowed;

$aud-border-s: 1px;
