$color: (
  white: #fff,
  green: #78C800,
);

:root {
  // brand
  --aud-brand-main: #{build-token($color, green)};

  // backgrounds
  --aud-bg-main: #{build-token($color, white)};

  // text
  --aud-heading-1: var(--aud-brand-main);
  --aud-heading-2: #100E17;
  --aud-copy-main: #100E17;

  --aud-font-main: "Arial, sans-serif";
}

@media (prefers-color-scheme: dark) {
  // backgrounds
  :root {
    --aud-bg-main: #100E17;

    // text
    --aud-heading-2: #fff;
    --aud-copy-main: #fff;
  }
}

// maps for organization and ease of access (are these really necessary anymore?)
$t-brand: (
  default: --aud-brand-main,
);

$t-bg: (
  default: --aud-bg-main,
);

$t-type: (
  default: (
    font: --aud-font-main,
  ),
  heading: (
    default: --aud-heading-1,
    2: --aud-heading-2,
  ),
  copy: (
    default: --aud-copy-main,
  ),
);

$t-list: (
  default: build-token($t-type, copy),
  bg: build-token($t-bg),
);
