$dag-gap-xl: 25px;
$dag-gap-l: 20px;
$dag-gap-m: 15px;
$dag-gap-s: 10px;
$dag-gap-xs: 5px;

$dag-font-size-xl: 20px;
$dag-font-size-l: 16px;
$dag-font-size-m: 12px;
$dag-font-size-s: 8px;

$dag-cursor-default: default;
$dag-curosr-clickable: pointer;
$dag-cursor-disabled: not-allowed;

$dag-border-s: 1px;

$dag-block-padding-inline: $dag-gap-l;
$dag-block-padding-block: $dag-gap-m;

$dag-list-stop-w: 3px;
$dag-list-separator-w: $dag-border-s;

$dag-spinner-w: 18px;
$dag-audio-btn-w: 32px;
