$dag-type-font: "Arial, sans-serif";

:root {
  // brand
  --dag-brand-main-0: #628300;
  --dag-brand-main-1: #78C800;
  --dag-brand-main-2: #99e820;
  --dag-brand-main-3:  #aeed4d;

  --dag-grey-0: #1b1b1b;
  --dag-grey-1: #333;
  --dag-grey-2: #565656;
  --dag-grey-3: #797979;
  --dag-grey-4: #a2a2a2;
  --dag-grey-5: #c8c8c8;
  --dag-grey-6: #f3f3f3;

  // backgrounds
  --dag-bg: var(--dag-grey-6);
  --dag-bg-hover: var(--dag-grey-5);

  // type
  --dag-type: var(--dag-grey-2);
  --dag-type-hover: var(--dag-grey-3);
  --dag-type-h-xl: var(--dag-brand-main-1);
  --dag-type-h-l: var(--dag-grey-1);
  --dag-type-h-m: var(--dag-grey-2);
  --dag-type-subtle: var(--dag-grey-4);

  // borders
  --dag-border: var(--dag-grey-4);
  --dag-border-light: var(--dag-grey-5);

  // border radius
  --dag-border-radius-m: 5px;
  --dag-border-radius-s: 2px;
  
  // buttons
  --dag-btn-type: var(--dag-grey-6);
  --dag-btn-main: var(--dag-brand-main-1);
  --dag-btn-sides: var(--dag-brand-main-0);
  --dag-btn-main-hover: var(--dag-brand-main-2);
  --dag-btn-main-active: var(--dag-brand-main-0);
  --dag-btn-main-disabled: var(--dag-brand-main-3);

  --dag-clear-btn: var(--dag-grey-2);
  --dag-clear-btn-hover: var(--dag-grey-3);
  --dag-clear-btn-active: var(--dag-grey-1);
  --dag-clear-btn-disabled: var(--dag-grey-4);

  // icons
  --dag-spinner-track: #ddd;
  --dag-spinner-progress: var(--dag-brand-main-1);

  // lists
  --dag-list-separator: var(--dag-border-light);
  --dag-list-stop: var(--dag-list-separator);
  --dag-list-collapse-chevron: var(--dag-list-separator);
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     // backgrounds
//     --dag-bg: var(--dag-grey-0);
//     --dag-bg-hover: var(--dag-grey-1);

//     // type
//     --dag-type: var(--dag-grey-4);
//     --dag-type-hover: var(--dag-grey-3);
//     --dag-type-h-l: var(--dag-grey-5);
//     --dag-type-h-m: var(--dag-grey-4);
//     --dag-type-subtle: var(--dag-grey-2);

//     // borders
//     --dag-border: var(--dag-grey-2);
//     --dag-border-light: var(--dag-grey-1);

//     //buttons
//     --dag-clear-btn: var(--dag-grey-4);
//     --dag-clear-btn-hover: var(--dag-grey-3);
//     --dag-clear-btn-active: var(--dag-grey-5);
//     --dag-clear-btn-disabled: var(--dag-grey-2);

//     // spinner
//     --dag-spinner-track: var(--dag-grey-1);

//     --dag-list-collapse-chevron: var(--dag-grey-2);
//   }
// }
